*$py.class
*.egg
*.egg-info/
*.py[cod]
*.so
*.swo
*.swp
*~
.coverage
.DS_Store
.eggs/
.idea/
.installed.cfg
.nox/
.pytest_cache/
.Python
.tox/
.uv/
.venv
.vscode/
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
ENV/
env/
htmlcov/
lib/
lib64/
parts/
sdist/
target/
Thumbs.db
var/
venv/
wheels/
